@import "styles/variaveis";

.About {
    grid-area: about;
    
    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 1rem;

    }

    &__content {
        display: flex;
        min-height: 200px;


        &--text {
            font-size: 1.5rem;
            font-weight: 100;
            margin: 0;
        }

        &--links {
            width: fit-content;
            
        }

        &--link {
            background-image: linear-gradient(-90deg, $background-main, gray 40%, #FFFFFF 40%);
            display: flex;
            border-radius: 1.5rem 0 0 1.5rem;
            width: 100%;
            margin-top: 1rem;
            height: 50px;
        }

    }

}