@import "styles/variaveis";

main {
    background-color: $background-main; 
    display: grid;
    padding: 10rem;
    padding-top: 1rem;
    height: auto;


    grid-template-rows: auto auto;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
    "about skills"
    "projects skills";
    gap: 2rem;

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        padding: 0 5rem;
    }
    @media screen and (max-width: 480px) {
        padding: 0 2rem;
    }
}