@import "styles/variaveis";

.Project {
    //background-color: rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(120deg, #303030 30%, #202020 50%, $light-blue 50%, $dark-blue 100%);
    box-sizing:border-box;
    border-radius: .5rem;
    //noborder: .25rem solid white;
    &__header {
        border-radius: .5rem .5rem 0 0;
        display: flex;
        height: 50px;
        width: 100%;
        
        
        &--name {
            color: aliceblue;
            font-size: 1.5rem;
            margin: auto 1rem;
        }
        &--link {
            justify-self: end;
            margin: auto;
            margin-right: 1rem;
            color: white;
            
        }
        
    }
    @media screen and (max-width: 1440px) {
        /*
        &__screenshots.Project__screenshots--hideInMobile, &__screenshots.Project__screenshots--hideInMobile *{
            height: 0;
            transition: 1s;
        }*/
        &__screenshots--hideInMobile {
            display: none;
        }
    }
    &__screenshots {
        //grid-column: span 3;
        transition: 1s;
        padding: 0 5rem;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        
        &--img {
            max-height: 150px;
            max-width: 100%;
            box-shadow: $shadow;
            margin-bottom: 1rem;
        }
        button {
            background-color: unset;
            border: none;
            color: white;
            font-size: 5rem;
            position:absolute;
            text-shadow: $shadow;
            bottom: 1rem;
            line-height: 5rem;
        }
        &--buttonLeft {
            left: 0;
            
        }
        &--buttonRight {
            right: 0;
        }
    }
    &__screenshots--hide {
        display: none;
    }
}
/*
.Project__screenshots--imgFullscreen {
    position: absolute;
    z-index: 10;

    transition: 1s;
}*/