.Project {
    background-color: rgba(255, 255, 255, 0.75);
    display: grid;
    grid-template-columns: min-content auto;
    box-sizing:border-box;

    &__icon {
        border-radius: 1rem;
        float: left;
        height: 50px;
        margin: .25rem;
    }

    &__name {
        font-size: 1.5rem;
        //border-bottom: .25rem solid black;

        color: black;
        margin-left: 0;
        margin-right: auto;
        margin: auto 0;
        width: 100%;
        padding: auto 0;
    }
    
    &__screenshots {
        grid-column: span 2;
        height: fit-content;
        margin: 0 auto;
        position: relative;
        img {
            max-height: 150px;
            max-width: 100%;
            padding: 0 5rem;

        }
        button {
            background-color: unset;
            border: none;
            color: white;
            font-size: 5rem;
            position:absolute;
            text-shadow: .25rem .25rem .5rem rgb(0, 0, 0, 0.5);
            top: calc(50% - 2.5rem);
            width: 5rem;
        }
        &--buttonLeft {
            left: 0;

        }
        &--buttonRight {
            right: 0;
        }
    }
}